body {
  background-color: rgba(0,0,0,.08);
}

#logo {
    margin: 0 0 0 72px;
    display: inline-block;
    color: white;
    background-color: #4aaaa5;
    padding: 16px 24px;
    font-size: 24px;
}

.main-nav {
    float: right;
    height: 64px;
    padding-top: 14px;
}

body {
  font-family: 'lato', arial, sans-serif;
  padding-bottom: 100%;
}

.imag-max-temp {
  max-width: 100%;
}

.image-max-temp {
  max-width: 100%;
}

.teal {
  color: #4aaaa5;
  font-weight: bold;
}

.nav-style {
  border-bottom: 1px solid rgba(0,0,0,.12);
  background-color: white;
}

footer {
  display: block;
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: center;
  padding: 16px;
  border-top: 8px solid #4aaaa5;
  background-color: rgba(0,0,0,.70);
  color: white;
}

.graph-title {
  text-align: center;
  color: #4aaaa5;
  font-weight: bold;
}

table {
  border-collapse:collapse
}